@font-face {
  font-family: 'LucidaBold';
  src: url('./assets/fonts/Lucida-Console-Regular.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'LucidaExtraBold';
  src: url('./assets/fonts/Lucida-Console-Regular.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'LucidaSemiBold';
    src: url('./assets/fonts/Lucida-Console-Regular.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}

body {
  margin: 0;
}

.notification {
  font-family: 'Arial, sans-serif' !important;
}
